<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <h1 class="text-3xl text-center font-bold underline">
        Lista de peliculas
      </h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">
      <!-- Tarjeta de película -->
      <% movies.forEach(movie => { %>
        <div class="bg-gray-900 text-white rounded-lg shadow-md overflow-hidden">
          <img
            src="<%= movie.images.length > 0 ? movie.images[0].URL : 'https://picsum.photos/200/300' %>"
            alt="Nombre de la película"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-lg font-bold"><%= movie.title %></h3>
            <p class="text-sm text-gray-400">Duración: <%= movie.length %>m</p>
            <p class="text-sm text-gray-400">Rating: <%= movie.rating %></p>
          </div>
        </div> 
      <% }) %>

      <!-- Puedes duplicar esta tarjeta para más películas -->
      </div>

      <%- include('./partials/footer.ejs') %>
</body>
</html>