<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <div class="container">
        <div class="image">
          <img
            src="<%= biciSeleccionada.imagen %>"
            alt="<%= biciSeleccionada.nombre  %>"
          />
        </div>
        <div class="details">
          <h1><%= biciSeleccionada.nombre %></h1>
          <p><strong>Marca:</strong><%= biciSeleccionada.marca %></p>
          <p>
            <strong>Precio:</strong>
            <span class="price">$<%= biciSeleccionada.precio %></span>
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            venenatis, ipsum in aliquet egestas, erat purus fermentum libero, a
            condimentum lacus tortor vitae metus. Morbi in lorem et eros
            dignissim vehicula. Praesent ac molestie justo.
          </p>
        </div>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
